﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="icon" type="image/gif/png" href="~/Images/logo.png">

    <title>ShAir Manager</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>



<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="/Configure/Index" class="logo">
                        <img src="/Images/logo-light.png" alt="" style="    width: 25px;
    margin-bottom: 5px;"> <span>ShAir Manager </span>
                    </a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @RenderBody()

            </div> <!-- content -->

            <footer class="footer text-right">
                2018 © ShAir
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->



    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->

    @Scripts.Render("~/bundles/jquery")
    <script>
     var resizefunc = [];
    </script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

</body>
</html>
