﻿<div class="container">



    <div class="row">
        <!-- Basic example -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Configure</h3></div>
                <div class="panel-body">                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Device secret key</label>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" required="" aria-required="true" id="secret-key" placeholder="Enter secret key">
                            </div>
                            <div class="col-md-4">
                                <button id="btn-get" class="btn btn-info waves-effect waves-light">GET</button>
                            </div>
                        </div>
                    </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Location</label>
                                <input type="text" class="form-control" required="" aria-required="true" id="organization" placeholder="Enter organization">
                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" id="building" required="" aria-required="true" placeholder="Enter building">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="floor" required="" aria-required="true" placeholder="Enter floor">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="room" required="" aria-required="true" placeholder="Enter room">
                            </div>
                            <div class="form-group">
                                <label for="tags">Air Conditioners</label>
                                <input name="tags" id="tags"  class="form-control" value=""   placeholder="Enter ids" />
                            </div>
                            <button  class="btn btn-purple waves-effect waves-light" id="btn-configure">Configure</button>
                </div><!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col-->
        <!-- Horizontal form -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Currenly supported AC's</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company</th>
                                        <th>Model</th>
                                        <th>ShAir ID</th>
                                    </tr>
                                </thead>
                                <tbody id="ac-container">                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->

    </div> <!-- End row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Delete older configuration</h3></div>
                <div class="panel-body">                    
                        <div class="form-group">
                            <label for="exampleInputEmail1">Device secret key</label>
                            <input type="text" class="form-control" id="secret-key-delete" placeholder="Enter secret key">
                        </div>

                        <button class="btn btn-danger waves-effect waves-light" id="btn-delete">Delete</button>                    
                </div><!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col-->

    </div>



</div> <!-- container -->
@section scripts{
    @Scripts.Render("~/Scripts/content")
}