<h2>Server</h2>
<p>Our Climate Controler uses Azure's cloud resources as a way to proccess and pass information between users and Arduino devices.&nbsp;</p>
<p>The technologies which we have used for building projects server side are:</p>
<p>&nbsp;&nbsp;&nbsp;&bull; <span style="text-decoration: underline;">Azure App Service</span> - runs our Climate Control server. <br />&nbsp;&nbsp; &bull;&nbsp;<span style="text-decoration: underline;">Sql Database and Server</span> - hosts the project's DB.&nbsp;&nbsp;<br />&nbsp;&nbsp; &bull; <span style="text-decoration: underline;">Spring</span> - Java framework which enbales the createion of Restful API's, supports SQL server and Multithreading.</p>
<h3>Server Flow</h3>
<p>After configuring a new Climate Control device the arduino sends the server information about the tempature at a specific location where it was configured. When the server recieves this information it sends back the IR codes which the arduino needs to transmit in order tho change the rooms temperature.<br />While Arduino devices are transmiting information users can<img src="https://imgur.com/a/6X4uW43" alt="" /> connect to our Climate Control server, get the real tempature and place their own vote to affect the overall rooms temperature.</p>
<h3>Security Features</h3>
<p>All data passed to or from server is encrypted as it uses https (Azure configuration) . Moreover, Sql injection is prevented by the use of prepared statements with variable binding.</p>
